@import "tailwindcss";

.ticker-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-6px); }
  40% { transform: translateX(6px); }
  60% { transform: translateX(-6px); }
  80% { transform: translateX(6px); }
}

.animate-shake {
  animation: shake 0.4s ease-in-out;
}

.faqs{
  background-image: linear-gradient(rgba(10, 10, 10, 0.668), rgba(8, 16, 9, 0.822)), url("./assets/images/hero-bg1.webp");
  background-size: cover;
}
